version: "3.9"

services:
  python-api:
    build:
      context: ./python-api
    env_file:
      - ./python-api/.env
    ports:
      - "8001:8001"

  frontend:
    build:
      context: ./frontend
    env_file:
      - ./frontend/.env
    ports:
      - "5173:5173"
